@import "compass";
@import "compass/css3/images";
@import "compass/css3/border-radius";

@import url(custom_common.css);

@import url(color_schemes/green.css);

@import url(color_schemes/orange.css);

@import url(color_schemes/inicial.css);


/* ---------- Base styles ---------- */


body {
	background: #e9edf0;
	font-size: 11px;
}

a {
	color: #24245b;
	text-decoration: underline;
}

a:visited {
	color: #d32e3c;
}

a:hover {
	color: #06C;
	text-decoration: none;
}

hr, .separator {
	border-color: #BFBFBF transparent #FFF;
	border-style: solid;
	border-width: 1px 0;
}

button, input[type="submit"], input[type="button"] {
	background: linear-gradient(#EFF3F4, #FFFFFF);
	border: 1px solid #DDE1E1;
	border-radius: 2px 2px 2px 2px;
	color: #D1202E;
	font-size: 11px;
	text-transform: uppercase;
}

#wrapper {
	background: url("../images/pontual/fundo_topo.png") no-repeat scroll -195px 0 transparent;
    margin: 0px auto 0;
	max-width: 100%;
	min-width: 960px;
	position: relative;
	font-family: arial;
	color: #595965;
	font-size: 12px;
}

.ie6 #wrapper {
	width: 90%;
}

#banner {
	background: none;
	height: 190px;
	margin-top: 1.4em;
	position: relative;
	width: 960px;
	margin: 0 auto;
}



h1.site-title{
	margin: 0px;
}

.site-title .site-name {
	background: #555 url(../images/common/site_icon.png) no-repeat 15px 50%;
	color: #FFF;
	display: block;
	float: right;
	font-size: 1em;
	font-weight: bold;
	margin: 0px 0 0 20px;
	padding: 7px 17px 7px 40px;
	position: relative;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
	z-index: 255;
}

.page-template .site-title .site-name {
	background-image: url(../images/common/page_template.png);
}

.site-template .site-title .site-name {
	background-image: url(../images/common/site_template.png);
}

.company-site .site-title .site-name {
	background-image: url(../images/common/folder.png);
}

.organization-site .site-title .site-name {
	background-image: url(../images/common/organization_icon_white.png);
}

.user-site .site-title .site-name {
	background-image: url(../images/common/user_icon_white.png);
}

.private-page .site-title .site-name:after {
	background-image: url(../images/common/key_small.png);
	content: '';
	display: block;
	height: 10px;
	left: 24px;
	position: absolute;
	top: 50%;
	width: 10px;
}

#skip-to-content:focus {
	clip: rect(auto auto auto auto);
	right: 0;
	z-index: 200;
}

#sign-in {
	background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
	font-weight: bold;
	padding: 5px 5px 5px 25px;
	position: absolute;
	right: 0;
	top: -1.2em;
}

.ie6 #banner {
	height: 1%;
}

.ie6 #banner h1.logo {
	height: 1%;
}

.logo{
	z-index: 255;
	position: relative;
	margin-left: -20px;
	img{
		@include box-shadow(0 0 7px rgba(0,0,0,0.5));
	}
}

/* ---------- Main navigation ---------- */

#navigation {
	background: none;
	clear: both;
	margin: 0 auto 5px;
	min-height: 2.2em;
	position: relative;
	z-index: inicial;
	float: right;
	margin-top: -44px;
	padding: 0px 0px 0px 3px;;
	position: absolute;
	width: 723px;
	top: 110px;
	right: 0;
}
.firefox #navigation {
	width: 695px;
}
#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0px;
	text-align: right;
}

.ie7 #navigation ul {
	padding: 2px;
}
#navigation li, #navigation a {
	display: inline-block;
	display: inline-block;
	float: left;
}

.ie6 #navigation li, .ie7 #navigation li, .ie6 #navigation a, .ie7 #navigation a {
	display: inline;
	zoom: 1;
	z-index: 200;
}

#navigation li {
	position: relative;
	vertical-align: top;
  	@include border-radius(0px);
  	margin-left: 3px;
}

#navigation a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #D1202E;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: -0.4px;
    padding: 12px 6px;
    text-decoration: none;
    text-transform: uppercase;
    @include border-radius(0px);
}

.ie6 #navigation a, .ie7 #navigation a {
	padding: 4px 15px;
}

#navigation .yui3-dd-drop a {
	cursor: move;
}

#navigation .selected a, #navigation li.hover a, #navigation a:hover, #navigation a:focus, #navigation .child-menu li a, #navigation .yui3-dd-dragging, .lfr-navigation-proxy {
	background: #fff;
	color: #D1202E;
	outline: 0;
	@include border-radius(0px);
}

#navigation li.hover .child-menu {
	background: #fff;
	display: block;
	position: absolute;
	width: 200px;
	z-index: 250;
	@include border-radius(0px);
}

.ie6 #navigation ul.child-menu-visible, .ie6 #navigation li.hover .child-menu, .ie7 #navigation ul.child-menu-visible, .ie7 #navigation li.hover ul.child-menu {
	left: 0;
	top: 25px;
}

#navigation .child-menu {
	display: none;
}

#navigation .child-menu li {
	border-width: 0 0 1px;
	display: block;
	float: none;
	margin: 0;
}

#navigation .child-menu li a {
	cursor: pointer !important;
}

.ie7 #navigation .child-menu li a {
	zoom: 1;
}

#navigation .child-menu li a:hover, #navigation li a.active {
	background-color: #020509;
}

#navigation .child-menu .selected a {
	background: #020509 url(@theme_image_path@/navigation/bullet_selected.png) no-repeat 5px 50%;
}

.nav-menu-style-arrows ul {
	list-style-image: url(@theme_image_path@/navigation/bullet_selected.png);
}

/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	background-color: #fff;
	border: none;
	margin: 0 0 10px;
	padding: 3px;
	text-align: left;
}

.portlet-topper {
	background: transparent;
	border: none;
	font-size: 1.1em;
}

.portlet-title {
	float: none;
	font-weight: bold;
	min-width: 50%;
	padding: 5px;
	text-shadow: none;
	font-size: 26px;
	color: #181f5c;
	background: url(../images/pontual/marcador.png) no-repeat 1% 100%;
}

.portlet-title img.icon{
	display: none;
}

.signed-in.controls-visible .portlet-title {
	padding-right: 80px;
}

.lfr-portlet-title-editable {
	margin-top: -4px;
	z-index: 9999;
}

.ie .lfr-portlet-title-editable {
	margin-top: -6px;
}

.lfr-portlet-title-editable-content {
	padding: 0;
}

.ie .lfr-portlet-title-editable-content {
	margin-top: 4px;
}

.portlet-icons {
	float: none;
}

.portlet-icons .portlet-close-icon {
	border-width: 0;
}

.page-maximized .portlet-icons {
	font-size: 11px;
}

.portlet-icon-back {
}

.ie .portlet-title {
	padding-bottom: 5px;
}

.ie6 .portlet-topper {
	zoom: 1;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/pontual/footer.png) no-repeat 50% 100%;
	text-align: left;
	width: 100%;
	margin: 0 auto;
	height: 200px;
}


#footer h2{
	color: #7cc3ff;
	margin-bottom: 2px;
	background: url(../images/pontual/marcador.png) no-repeat 1% 100%;
}

#footer .contato {
	margin: 0 auto;
	text-align: left;
	width: 658px;
	padding: 1px 0 0 350px;
	color: white;
	position: relative;
}


#footer .contato .contato_form {
  position: absolute;
  left: 654px;
  top: 0;
  .aui-fieldset{
    margin: 36px 0 0 0;
    .label-inline-label {
       font-weight: normal;
     }
  }
  .aui-fieldset-legend{
    display: none;
  }
  .aui-field-text{
    float: left;
    margin-left: 17px;
    
  }
  .aui-field-input-text{
  	width: 142px;
  }
  .aui-field{ 
    .aui-field-content{
      margin: 4px 0 0;
      textarea{
        width: 307px;
        height:  25px;
      }
    }
  }
  .aui-button-submit {
    position: absolute;
    bottom: -29px;
    left: 16px;
    input{
      @include linear-gradient(#41add9, #2265b9);
      @include box-shadow( 1px 1px 3px rgba(0, 0, 0, 0.5),inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55));
      @include text-shadow(rgba(blue, 0) 0px 0px 0, rgba(blue, 0.0) 0px 0px 0, rgba(blue, 0) 0px 0px 0);
      @include border-radius(4px);
      border: 0;
      color: white;
      padding: 6px 20px;
    }
  }
}

/* ---------- Formulario Seja Cliente ---------- */


.seja-cliente {
  .aui-fieldset{
    margin: 36px 0 0 0;
    .label-inline-label {
       font-weight: normal;
     }
  }
  .aui-fieldset-legend{
    display: none;
  }
  .aui-field-text{
    float: left;
    margin-left: 17px;
    
  }
  .aui-field{ 
    .aui-field-content{
      margin: 4px 0 0;
      textarea{
        width: 275px;
        height:  25px;
      }
    }
  }
  .aui-button-submit {
    position: absolute;
    bottom: -29px;
    left: 16px;
    input{
      @include linear-gradient(#41add9, #2265b9);
      @include box-shadow( 1px 1px 3px rgba(0, 0, 0, 0.5),inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55));
      @include text-shadow(rgba(blue, 0) 0px 0px 0, rgba(blue, 0.0) 0px 0px 0, rgba(blue, 0) 0px 0px 0);
      @include border-radius(4px);
      border: 0;
      color: white;
      padding: 6px 20px;
    }
  }
}



/* ---------- Site breadcrumbs ---------- */

.site-breadcrumbs {
    margin: 0 auto;
    width: 960px;
	display: none;
}

.site-breadcrumbs ul {
	background-color: #FFF;
	border: 1px solid #DEDEDE;
	border-color: #C0C2C5;
	margin: 0;
}

.site-breadcrumbs li {
	background-image: none;
	margin-right: 0;
	padding-left: 0.75em;
	padding-right: 0;
}

.site-breadcrumbs li span {
	background: url(@theme_image_path@/common/breadcrumbs.png) no-repeat 100% 50%;
	display: block;
	padding: 0.5em 15px 0.5em 0;
}

.site-breadcrumbs li span a {
	text-decoration: none;
}

.site-breadcrumbs li.first a {
	color: #369;
	font-weight: bold;
}

.site-breadcrumbs li.last a {
	color: #4B5567;
	font-size: 1.3em;
}

.site-breadcrumbs .last {
	font-size: 1em;
	margin-top: 0;
	padding-right: 0;
}

.site-breadcrumbs .last span {
	background-image: none;
	padding: 0;
}

/* ---------- Hudcrumbs ---------- */

.lfr-hudcrumbs {
	position: fixed;
	top: 0;
	z-index: 440;
}

.lfr-hudcrumbs ul {
	background: #414445;
	background: rgba(0, 0, 0, 0.8);
}

.lfr-hudcrumbs .breadcrumbs li a, .lfr-hudcrumbs .breadcrumbs li span {
	color: #FFF;
}

.lfr-hudcrumbs li span {
	background-image: url(@theme_image_path@/common/breadcrumbs_hud.png);
}

/* ---------- Misc. ---------- */

.lfr-panel-container {
	background-color: transparent;
}

.aui-combobox .aui-field-input {
	padding: 4px 3px 3px;
	font-size: 11px;
	height: 15px;
}

.aui-combobox .aui-field {
	float: left;
	line-height: 0;
}

.lfr-portlet-title-editable-content .aui-field {
	float: none;
	display: inline;
}

/* ---------- Extras ---------- */

#banner .site-name {
	@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px #FFF);
}

.portlet-borderless-bar {
	-moz-border-radius: 20px;
	-moz-box-shadow: inset 0 1px 3px #000;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 3px #000;
	border-radius: 20px;
	box-shadow: inset 0 1px 3px #000;
}

.portlet-topper {
	box-shadow: none;
}

#banner .site-name {
	@include border-radius(4px);
	@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px #FFF);
}

#navigation li.selected a {
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.0);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.0);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.0);
}

.aui-combobox .aui-toolbar-first {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#content{
	width: 960px;
	margin: 0 auto;
}

/* ---------- Funcionalidades ---------- */

#funcionalidades {
	color: #fff;
	text-align: right;
	float: right;
	width: 560px;
	padding-top: 10px;
	font-size: 12px;
}

#funcionalidades a{
	color: #7cc3ff;
	margin-left: 16px;
	padding-left: 6px;
	background: url(../images/pontual/seta-menu_ut.png) no-repeat 0;
}

#funcionalidades a.destacado {
	background: url(../images/pontual/fundo_menu_sup.png) repeat-x #BC0D1F;
	color: white;
	margin: 0 1px;
	padding: 10px;
}

#funcionalidades a.destacado1 {
	margin: 0 1px 0 15px;
	background: url(../images/pontual/fundo_menu_sup.png) repeat-x #BC0D1F;
	color: white;
	padding: 10px;
}


/* ---------- Pontinha ---------- */

.pontinha {
	border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px;
    bottom: -10px;
    display: block;
    height: 0;
    position: absolute;
    right: 50%;
    width: 0;
}

/* ---------- Destacado Menu Superior ---------- */

.destacado{
    background: url(../images/pontual/fundo_menu_sup.png) repeat-x #bc0d1f;
    color: #fff;
    margin: 0 1px;
    padding: 10px
}

a.destacado{
	color: #fff !important;
}


/* ---------- Banner Rotativo ---------- */


/* ---------- Tirando ícone dos Asset Publishers ---------- */

.asset-title img{
	display: none;
}

/* ---------- Redimensionando imagens no Asset Publisher ---------- */

.portlet-asset-publisher .asset-small-image {
	float: none;
	padding-left: 0;
	width: 279px;
}

.portlet-asset-publisher .asset-content {
	margin-left: 0px;
	margin-right: 0px;
}


/* ---------- Espaçamento do título no Asset Publisher ---------- */

.portlet-content, .portlet-minimized .portlet-content-container{
	padding: 0 10px 10px;
}

.portlet-asset-publisher .asset-title {
	margin-top: 10px;
	font-size: 12px;
}

.portlet-content, .portlet-minimized .portlet-content-container{
	padding: 0 10px 10px;
}



/* ---------- Menu Rastreamento e Cotação ---------- */


#menu-rastreamento {
  text-align: center;
  background: #585858;
  height: 28px;
  width: 102px;
  padding: 11px 0 0 0;
  color: white;
  position: relative;
  font-size: 11px;
  cursor: pointer;
  &:hover{  background: #737373; height:31px;}
  .quadro{
    text-align: left;
    position: absolute;
    background: #737373;
    top: 41px;
    z-index: 249;
    width: 170px;
    padding: 10px;
    p {margin: 0 0 3px 0; color: #eee;}
    textarea {
	    width: 165px;
		max-width: 165px;
		font-size: 13px;
		margin-bottom: 7px;
		font-family: "Courier New";
		font-weight: bold;
		max-height: 27px;
    }
    a.link-in{
      background: transparent url(../images/pontual/seta-link.png) no-repeat 0;
      font-size: 11px;
      font-weight: normal;
      letter-spacing: -0.4px;
      margin: 0 12px 0 0;
      padding: 0px 0px 0px 5px;
      color: white;
      text-decoration: underline;
      text-transform: none;
      &:hover{
        background: transparent url(../images/pontual/seta-link.png) no-repeat 0;
        font-size: 11px;
        font-weight: normal;
        letter-spacing: -0.4px;
        margin: 0 12px 0 0;
        color: white;
        text-decoration: underline;
        text-transform: none;
      }
    }
    input[type="submit"]{
      @include linear-gradient(#c71530, #99040b);
      @include box-shadow( 1px 1px 3px rgba(0, 0, 0, 0.5),inset 1px 1px 1px 0px #ff1e38);
      @include text-shadow(rgba(blue, 0) 0px 0px 0, rgba(blue, 0.0) 0px 0px 0, rgba(blue, 0) 0px 0px 0);
      @include border-radius(0);
      color: white;
      width:165px;
      border: 0;
      text-transform: uppercase;
      padding: 11px;
      font-size: 13px;
      font-weight: normal;
      margin-top: 8px;
    }
  }
}
#menu-cotacao{ 
  text-align: center;
  background: #585858;
  height: 28px;
  padding: 11px 6px 0;
  color: white;
  position: relative;
  font-size: 11px;
  cursor: pointer;
  &:hover{  background: #737373; height:31px;}
  .quadro{
    text-align: left;
    position: absolute;
    background: #737373;
    top: 41px;
	z-index: 249;
	width: 170px;
	padding: 10px;
	right: 0px;
	a.link-in{
      @include linear-gradient(#c71530, #99040b);
      @include box-shadow( 1px 1px 3px rgba(0, 0, 0, 0.5),inset 1px 1px 1px 0px #ff1e38);
      @include text-shadow(rgba(blue, 0) 0px 0px 0, rgba(blue, 0.0) 0px 0px 0, rgba(blue, 0) 0px 0px 0);
      @include border-radius(0);
      color: white;
      width: 146px;
      border: 0;
      text-transform: uppercase;
      padding: 11px;
      font-size: 13px;
      font-weight: normal;
      margin-top: 8px;
      text-align: center;
    }
   }
}



/* ---------- Seletores Basicos ---------- */

h1, h2{
    color: #181F5C;
}

h3, h4, h5, h6{
	color: #595965;
}

h2 {
    color: #181F5C;
    font-size: 2.4em;
    font-weight: normal !important;
	background: url(../images/pontual/marcador.png) no-repeat 1% 100%;
	margin: 5px 0 15px;
}

h1 {
    color: #181F5C;
    font-size: 2.5em;
}


/* ---------- Estilo da Box em Produtos e Servicos ---------- */

.quadro_produto ul.abas{
list-style: none;
margin: 0;
padding: 0;
        }

.quadro_produto ul.abas li{
	float: left;
	border-bottom: 0;
	margin-right: 3px;
	padding: 8px 15px;
	background: #D5DADD;
	margin-bottom: 0px;
	font-size: 16px;
}

.quadro_produto ul.abas li:hover{
	background: white;
}

.quadro_produto ul.abas .ativo{
    background: white;
}

.quadro_produto ul.abas .ativo a{
    color:#f00; 
}
        
.quadro_produto ul.abas a{ 
    text-decoration: none; 
	font-weight:bold;
}

.quadro_produto #mostra_produto{
	position: relative;
	height: auto;
	padding: 10px;
	clear: both;
	background: white;
	h2 {
		margin: 0px 0 21px;
		font-size: 16px;
		font-weight: bold;
		background: transparent;
	}
	td div{
		margin-bottom: 20px;
	}
	a.btn{
	    @include background-image(linear-gradient(#eff3f4, #ffffff));
		border: 1px solid #DDE1E1;
		@include border-radius(2px 2px 2px 2px);
		color: #D1202E;
		font-size: 11px;
		text-transform: uppercase;
		backgrownd: #f00;
		padding: 10px;
		text-decoration: none;
		position: absolute;
		bottom: 10px;
	}
}

.quadro_produto #mostra_produto div{
    display:none;
}

.quadro_produto #mostra_produto .quadro_azul {
	display: block;
	width: 260px;
	background: #E9EDF0;
	padding: 10px;
}

.azul {
	color: #7cc3ff;
	&.marca_subl{
		padding-left: 6px;
		background: url(../images/pontual/seta-menu_ut.png) no-repeat 0;
		text-decoration: underline;
	}
}


.portlet {
	background: transparent;
}

/*.portlet-body ul li{
	list-style-image: url("../images/pontual/marcador.png");
	margin-bottom: 15px;
}*/

.quadro_produto ul li {
	list-style-image: none;
}

.portlet-branco {
	background: #fbfbfd;
	padding: 10px 25px;
	margin: 20px 0;
}

#mostra_produto ul li{
	list-style-image: url("../images/pontual/marcador.png");
}


/* ---------- Asset Noticias ---------- */

.portlet_noticias .asset-more{
	margin-top: 10px;
	a {
		@include linear-gradient(#fff,#eff3f4);
		@include border-radius(2px);
		border: 1px solid #dde1e1;
		color: #D1202E;
		margin-top: 13px;
		padding: 5px 10px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 11px;
	}
}
.portlet_noticias .final-separator{
	display: none;	
}

.noticias-destaque .portlet-body{
	overflow: hidden;
}

.noticias-destaque .asset-abstract {
	width: 300px;
	float: left;
	margin-right: 10px;
}

.noticias-destaque .asset-small-image img{
	border: 3pt solid #fff;
}


.noticias-destaque .asset-more{
	margin-top: 10px;
	a {
		@include linear-gradient(#fff,#eff3f4);
		@include border-radius(2px);
		border: 1px solid #dde1e1;
		color: #D1202E;
		margin-top: 13px;
		padding: 5px 10px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 11px;
	}
}

.noticias-destaque .asset-title{
	border-bottom: none;
	text-decoration: underline;
}

.lista-noticias .asset-small-image, .lista-noticias .asset-resource-info{
	display: none;
}

.lista-noticias .asset-metadata{
	margin-left: 0px;
}

.lista-noticias .asset-abstract{
	border-bottom: 1pt solid rgb(218, 223, 228);
}


.lista-noticias .asset-more{
	display: none;
}

.taglib-page-iterator .search-results {
	float: right;
}

.taglib-page-iterator .search-pages {
    float: left;
}


.portlet-asset-publisher .asset-title{
	border-bottom: none;
}

.lista-noticias .metadata-publish-date{
	background: none;
	padding-left: 0px;
}

.lista-noticias  .asset-title{
	font-size: 16px;
}

.link-pg-inicio p{
	text-align: right;
	margin: -31px 8px 0 0;
	a{		
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

/* ---------- Botão azul dos formularios ---------- */

.botao {
      @include linear-gradient(#41add9, #2265b9);
      @include box-shadow( 1px 1px 3px rgba(0, 0, 0, 0.5),inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55));
      @include text-shadow(rgba(blue, 0) 0px 0px 0, rgba(blue, 0.0) 0px 0px 0, rgba(blue, 0) 0px 0px 0);
      @include border-radius(4px);
      border: 0;
      color: white;
      padding: 6px 20px;
    }

	
	

/* ---------- Fatos Marcantes ---------- */

.quadro-vermelho{
	background: #c6142d;
	color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    padding: 10px;
    width: 40px;
	margin-left: -30px;
	margin-top: 5px;
}

.quadro-cinza{
	background: #fbfbfd;
	margin-bottom: 10px;
    padding: 5px 10px;
}

.quadro-cinza p{
    display: inline-block;
    margin-left: 51px;
    margin-top: -35px;
}


/* ---------- Box Filiais ---------- */

.box_filiais{
	.seletor_filiais{ 
		height: 21px;
		select{
			float: left;
			whidth: 310px
		}	
		#escolha{
			@include linear-gradient(#2265b9, #41afda);
			@include box-shadow( 1px 1px 3px #283274,inset 1px 1px 1px 0px #4FACE0); 
			display: block;
			padding: 4px;
			width: 89px;
			text-align: center;
			text-transform: uppercase;
			color: white;
			cursor: pointer;
			float: left;
			margin: -1px 0 0 10px;
			&:hover{
				@include linear-gradient(#1C5092, #3293B9);
			}
		}
	}
	.seletor_filiais, #mostra_filial{
		background: white;
		margin-bottom: 15px;
		padding: 15px;
	}
}


/* ---------- Form Seja Cliente ---------- */

.campo1 {
	width: 250px;
}

.campo2 {
	width: 100px;
}

.campo3 {
	width: 200px;
}

.campo4 {
	width: 130px;
}

.campo5 {
	width: 20px;
}

.campo6 {
	width: 250px;
}

.campo7 {
	width: 200px;
}

#apDiv1 {
	width:250px;
	height:88px;
	float: left;
}

#apDiv2 {
	width:100px;
	height:88px;
	float: right;
}


#apDiv3 {
	width:200px;
	height:88px;
	float: left;
}

#apDiv4 {
	width:140px;
	height:88px;
	float:left;
}

#apDiv5 {
	width:30px;
	height:88px;
	float: right;
}

#apDiv6 {
	width:200px;
	height:88px;
	float: left;
}

#apDiv7 {
	width:200px;
	height:88px;
	float: right;
}


/* ---------- Tabela Parceiros ---------- */

.pt-parceiros img{
	margin: 0.7em 0em;
}

.td-borda {
	border-right: 1pt solid #c9c9c9;
	padding-right: 3em;
}

.td-margem {
	padding-left: 3em;
}

/* --------- elementos de tela --------- */
.botao_azul{
	@include linear-gradient(#2265b9, #41afda);
	@include box-shadow( 1px 1px 3px #283274,inset 1px 1px 1px 0px #4FACE0); 
	display: block;
	padding: 4px;
	width: 89px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	float: left;
	margin: -1px 0 0 10px;
	&:hover{
		@include linear-gradient(#1C5092, #3293B9);
	}
}


.marcador ul li{
	list-style-image: url("../images/pontual/marcador.png");
}
.col-image{
	display: table-cell;
	img{
		border: 5px solid white;
	}
}
.col-texto {
	display: table-cell;
	vertical-align: top;
	padding-left: 14px;
	h1{
		margin: 0 0 10px 0;
		padding: 0;
		font-size: 14px;
	}
}