<nav class="$nav_css_class" id="navigation">
	<h1>
		<span>#language("navigation")</span>
	</h1>

	<ul>
		#foreach ($nav_item in $nav_items)
			#if ($nav_item.isSelected())
				<li class="selected">
				
				<div class="pontinha"></div>
								
			#else
				<li>
			#end
				<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $nav_item.getName()</span></a>

				#if ($nav_item.hasChildren())
					<ul class="child-menu">
						#foreach ($nav_child in $nav_item.getChildren())
							#if ($nav_child.isSelected())
								<li class="selected">
							#else
								<li>
							#end
								<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
							</li>
						#end
					</ul>
				#end
				
			</li>
		#end
		
			<li id="menu-rastreamento"><span>RASTREAMENTO</span>
                   <div class="quadro">
                     <p>Informe a ND abaixo para consulta</p>
                     <input type="text" name="nd">
                     <a href="#" class="link-in">&Uacute;ltimo status</a> <a href="#" class="link-in">Limpar tudo</a>
                     <input type="submit" value="Rastrear">
                   </div>
            </li>
				 
            <li id="menu-cotacao"><span>COTA&Ccedil;&Atilde;O E COLETA</span>
				<div class="quadro">
					<a href="/web/guest/cotacao-e-coleta" class="link-in" tabindex="-1" id="aui_3_4_0_1_269">Cota&ccedil;&atilde;O</a>
					<br>
					<a href="/web/guest/agende-uma-coleta" class="link-in" tabindex="-1" id="aui_3_4_0_1_271">Coleta</a>
				</div>
			</li>
		
	</ul>
</nav>