/* ---------- Breadcrumbs ---------- */
.breadcrumbs-horizontal {
  margin-bottom: 1.5em; }

.breadcrumbs-horizontal li {
  background: url(@theme_image_path@/arrows/05_right.png) no-repeat 100% 50%;
  margin-right: 5px;
  max-width: 50%;
  padding-right: 15px; }

.breadcrumbs-vertical li {
  background: url(@theme_image_path@/arrows/07_down.png) no-repeat 50% 100%;
  padding: 0 0 9px;
  max-width: auto; }

.breadcrumbs a {
  display: block; }

.breadcrumbs-vertical a {
  text-align: center;
  text-decoration: none; }

.breadcrumbs .last {
  background-image: none; }

.breadcrumbs-horizontal .last {
  margin-top: 0.2em; }

.breadcrumbs-vertical .last {
  font-weight: bold; }

.breadcrumbs-horizontal .last a, .aui-tree-node-selected a {
  color: #555; }

/* ---------- Hidden Accessible ---------- */
#skip-to-content, #banner h2, #banner h3, #navigation h1, .site-breadcrumbs h1 {
  clip: rect(0 0 0 0);
  position: absolute; }

.opens-new-window-accessible {
  background: url(@theme_image_path@/common/open_window.png) no-repeat 0 50%;
  display: inline-block;
  font-size: 0;
  height: 11px;
  margin-left: 2px;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: top;
  width: 11px; }

/* ---------- Extras ---------- */
.lfr-title-scope-selector {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.lfr-title-scope-selector {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.logo .current-site, #navigation, #navigation a, .portlet, .portlet-topper, .site-breadcrumbs ul, .aui-form-validator-message {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

body.green, .green .portlet {
  background-color: #F1F3EF; }

.green .logo .current-site {
  background-color: #AFBFA7; }

.green .aui-state-hover {
  background-color: #CFDABA;
  background-image: url(@theme_image_path@/color_schemes/green/application/state_hover_bg.png);
  border-color: #778362; }

.green .aui-icon {
  background-image: url(@theme_image_path@/color_schemes/green/aui/icon_sprite.png); }

/* ---------- Links ---------- */
.green a {
  color: #677D5B; }

.green a:hover {
  color: #66CD00; }

/* ---------- Application styling ---------- */
.green .results-header {
  background-color: #D7DDD2; }

.green .results-row.alt td {
  background-color: #E2E7DE; }

.green .results-row.hover td {
  background-color: #C4CDBD; }

.green .drop-area {
  background-color: #DBDED4; }

.green .aui-resizable-proxy {
  border-color: #909683; }

.green .aui-sortable-proxy {
  background-color: #7C8272; }

.green .aui-menugroup-content h4 {
  background-color: #D7DFD3;
  color: #677D5B; }

.green .aui-menu-content li a, .green .lfr-menu-list ul li a {
  color: #2F342C; }

.green .my-sites-menu .current-site {
  border-color: #42811D; }

.green .my-sites-menu .current-site a {
  background-color: #68BB30;
  color: #FFF; }

.green .aui-menu-content li a.aui-focus, .green .lfr-menu-list ul a.aui-focus, .green .lfr-menu-expanded li a:focus {
  background-color: #677D5B;
  color: #FFF;
  text-shadow: -1px -1px #2f342c; }

.green .aui-tab {
  background: none; }

.green .aui-tab-active {
  background-color: #333; }

.green .aui-tab-active, .green .aui-tab-active a {
  color: #FFF; }

.green .portlet-communities .lfr-current-theme, .green .portlet-enterprise-admin .lfr-current-theme {
  background-color: #F6F8F1;
  border-color: #909683; }

.green .portlet-communities .theme-entry, .green .portlet-communities .lfr-current-theme .theme-screenshot, .green .portlet-enterprise-admin .theme-entry, .green .portlet-enterprise-admin .lfr-current-theme .theme-screenshot {
  border-color: #B9BDAF; }

.green .portlet-communities .theme-entry .theme-title, .green .portlet-enterprise-admin .theme-entry .theme-title {
  background-color: #909488;
  border-color: #909683; }

.green .portlet-communities .lfr-theme-list h3, .green .portlet-enterprise-admin .lfr-theme-list h3 {
  background-color: #DBDED4; }

.green .portlet-communities .selected-color-scheme .theme-entry, .green .portlet-enterprise-admin .selected-color-scheme .theme-entry {
  border-color: #669A33; }

.green .portlet-communities .lfr-theme-list .theme-entry:hover, .green .portlet-enterprise-admin .lfr-theme-list .theme-entry:hover {
  background-color: #F5FFE0;
  border-color: #CFE0A8;
  color: #BBC99F; }

.green .portlet-communities .theme-entry:hover .theme-thumbnail, .green .portlet-enterprise-admin .theme-entry:hover .theme-thumbnail {
  border-color: #CFE0A8; }

.green .portlet-document-library .detail-column-last {
  background-color: #F2FFD8; }

.green .portlet-document-library .detail-column-last .detail-column-content {
  border-color: #C6DA89; }

.green .dockbar {
  background-color: #A2AF98;
  background-image: url(@theme_image_path@/color_schemes/green/dockbar/dockbar_bg.png); }

.green .dockbar .menu-button-active {
  background-color: #95DB5C;
  background-image: url(@theme_image_path@/color_schemes/green/dockbar/button_active_bg.png); }

.green .dockbar .menu-button-active a {
  color: #FFF; }

.green .aui-portal-layout-drag-indicator {
  background-color: #57B63C; }

.green .aui-autocomplete-results-content {
  border-color: #C1F599; }

.green .aui-autocomplete-selected {
  background-color: #E9F7E0;
  border-color: #BBEAA4; }

.green .aui-textboxlistentry {
  background-color: #D9F4CB;
  border-color: #BBEAA4; }

.green .aui-textboxlistentry-focused {
  background-color: #57B63C;
  border-color: #404F34; }

.green .aui-textboxlistentry-close-hover {
  background-color: #BBEAA4; }

/* ---------- Portlet wrapper and icons ---------- */
.green .portlet {
  border-color: #909683; }

.green .portlet-topper {
  background-color: #D9DDD3;
  border-bottom-color: #B7BCAE; }

.green .panel-page .portlet-topper {
  border-bottom-color: #909683; }

.green .portlet-section-selected, .green .portlet-section-selected a {
  background-color: #909683; }

.green .portlet-section-selected a:hover, .green .portlet-section-selected a:focus {
  background-color: #909683; }

/* ---------- Calendar portlet ---------- */
.green .portlet-calendar .calendar-day .day-text {
  background-color: #909683; }

.green .taglib-calendar tr td a {
  background-color: #EFF3EA; }

.green .taglib-calendar tr td a:hover {
  background-color: #909683; }

.green .taglib-calendar .calendar-current-day a {
  border-color: #909683;
  color: #5F9930; }

.green .portlet-calendar .taglib-calendar tr td.calendar-current-day a:hover, .green .portlet-calendar .taglib-calendar tr td.calendar-current-day a:focus {
  background-color: #F2FFDF;
  border-color: #B7BCAE;
  color: #5BCC00; }

.green .taglib-calendar .calendar-current-day, .green .taglib-calendar .calendar-current-day a {
  background-color: #FFF; }

.green .taglib-calendar tr td.calendar-inactive {
  color: #BEC4B5; }

/* ---------- Miscellaneous portlet styles ---------- */
.green .journal-template-error .scroll-pane pre span {
  background-color: #BEC4B5; }

.green .restricted * {
  color: #909683; }

.green .lfr-actions .lfr-trigger li a:hover {
  background-color: #909683; }

.green .lfr-tag-selector-popup .aui-textfield-content {
  background-color: #DBDED4;
  border-color: #B9BDAF; }

/* This CSS sets the default styles for forms. */
.green input[type="submit"], .green input[type="button"], .green input[type="reset"], .green button, .green .lfr-actions, .green .lfr-actions ul {
  color: #404F34; }

.green input[type="submit"]:hover, .green input[type="button"]:hover, .green input[type="reset"]:hover, .green button:hover, .green .lfr-actions:hover, .green .lfr-actions:hover ul {
  background-color: #CFDABA;
  background-image: url(@theme_image_path@/color_schemes/green/application/state_hover_bg.png);
  border-color: #778362;
  color: #669A33; }

.green input[type="submit"]:focus, .green input[type="button"]:focus, .green input[type="reset"]:focus, .green button:focus, .green .lfr-actions:focus, .green .lfr-actions:focus ul {
  background-color: #ECECEC;
  background-image: url(@theme_image_path@/application/state_active_bg.png); }

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */
.ie6 .green input.submit, .ie6 .green input.button, .ie6 .green button, .ie6 .green .aui-button-disabled input.submit, .ie6 .green .aui-button-disabled input.button, .ie6 .green .aui-button-disabled button {
  color: #404F34; }

/* ---------- Site breadcrumbs ---------- */
.green .site-breadcrumbs li.first a {
  color: #669A33; }

.green .site-breadcrumbs li.last a {
  color: #55674B; }

.green .lfr-hudcrumbs .breadcrumbs li a, .green .lfr-hudcrumbs .breadcrumbs li span {
  color: #FFF; }

body.orange, .orange .portlet {
  background-color: #F3F1EF; }

.orange .logo .current-site {
  background-color: #BFB8A7; }

.orange .aui-state-hover {
  background-color: #DAC8BA;
  background-image: url(@theme_image_path@/color_schemes/orange/application/state_hover_bg.png);
  border-color: #837062; }

.orange .aui-icon {
  background-image: url(@theme_image_path@/color_schemes/orange/aui/icon_sprite.png); }

/* ---------- Links ---------- */
.orange a {
  color: #7D745B; }

.orange a:hover {
  color: #CD7700; }

/* ---------- Application styling ---------- */
.orange .results-header {
  background-color: #DDD9D2; }

.orange .results-row.alt td {
  background-color: #E7E4DE; }

.orange .results-row.hover td {
  background-color: #CDC7BD; }

.orange .drop-area {
  background-color: #DED8D4; }

.orange .aui-resizable-proxy {
  border-color: #968A83; }

.orange .aui-sortable-proxy {
  background-color: #827972; }

.orange .aui-menugroup-content h4 {
  background-color: #DFDCD3;
  color: #7D745B; }

.orange .aui-menu-content li a, .orange .lfr-menu-list ul li a {
  color: #34322C; }

.orange .my-sites-menu .current-site {
  border-color: #81641D; }

.orange .my-sites-menu .current-site a {
  background-color: #BB8F30;
  color: #FFF; }

.orange .aui-menu-content li a.aui-focus, .orange .lfr-menu-list ul a.aui-focus, .orange .lfr-menu-expanded li a:focus {
  background-color: #7D745B;
  color: #FFF;
  text-shadow: -1px -1px #34322c; }

.orange .aui-tab {
  background: none; }

.orange .aui-tab-active {
  background-color: #333; }

.orange .aui-tab-active, .orange .aui-tab-active a {
  color: #FFF; }

.orange .portlet-communities .lfr-current-theme, .orange .portlet-enterprise-admin .lfr-current-theme {
  background-color: #F8F4F1;
  border-color: #968A83; }

.orange .portlet-communities .theme-entry, .orange .portlet-communities .lfr-current-theme .theme-screenshot, .orange .portlet-enterprise-admin .theme-entry, .orange .portlet-enterprise-admin .lfr-current-theme .theme-screenshot {
  border-color: #BDB4AF; }

.orange .portlet-communities .theme-entry .theme-title, .orange .portlet-enterprise-admin .theme-entry .theme-title {
  background-color: #948D88;
  border-color: #968A83; }

.orange .portlet-communities .lfr-theme-list h3, .orange .portlet-enterprise-admin .lfr-theme-list h3 {
  background-color: #DED8D4; }

.orange .portlet-communities .selected-color-scheme .theme-entry, .orange .portlet-enterprise-admin .selected-color-scheme .theme-entry {
  border-color: #9A6F33; }

.orange .portlet-communities .lfr-theme-list .theme-entry:hover, .orange .portlet-enterprise-admin .lfr-theme-list .theme-entry:hover {
  background-color: #FFEEE0;
  border-color: #E0BDA8;
  color: #C9B09F; }

.orange .portlet-communities .theme-entry:hover .theme-thumbnail, .orange .portlet-enterprise-admin .theme-entry:hover .theme-thumbnail {
  border-color: #E0BDA8; }

.orange .portlet-document-library .detail-column-last {
  background-color: #FFE9D8; }

.orange .portlet-document-library .detail-column-last .detail-column-content {
  border-color: #DAA489; }

.orange .dockbar {
  background-color: #AFA798;
  background-image: url(@theme_image_path@/color_schemes/orange/dockbar/dockbar_bg.png); }

.orange .dockbar .menu-button-active {
  background-color: #DBAC5C;
  background-image: url(@theme_image_path@/color_schemes/orange/dockbar/button_active_bg.png); }

.orange .dockbar .menu-button-active a {
  color: #FFF; }

.orange .aui-portal-layout-drag-indicator {
  background-color: #B6A63C; }

.orange .aui-autocomplete-results-content {
  border-color: #F5D599; }

.orange .aui-autocomplete-selected {
  background-color: #F7F0E0;
  border-color: #EAD8A4; }

.orange .aui-textboxlistentry {
  background-color: #F4EACB;
  border-color: #EAD8A4; }

.orange .aui-textboxlistentry-focused {
  background-color: #B6A63C;
  border-color: #4F4534; }

.orange .aui-textboxlistentry-close-hover {
  background-color: #EAD8A4; }

/* ---------- Portlet wrapper and icons ---------- */
.orange .portlet {
  border-color: #968A83; }

.orange .portlet-topper {
  background-color: #D9DDD3;
  border-bottom-color: #B7BCAE; }

.orange .panel-page .portlet-topper {
  border-bottom-color: #968A83; }

.orange .portlet-section-selected, .orange .portlet-section-selected a {
  background-color: #968A83; }

.orange .portlet-section-selected a:hover, .orange .portlet-section-selected a:focus {
  background-color: #968A83; }

/* ---------- Calendar portlet ---------- */
.orange .portlet-calendar .calendar-day .day-text {
  background-color: #968A83; }

.orange .taglib-calendar tr td a {
  background-color: #EFF3EA; }

.orange .taglib-calendar tr td a:hover {
  background-color: #968A83; }

.orange .taglib-calendar .calendar-current-day a {
  border-color: #968A83;
  color: #5F9930; }

.orange .portlet-calendar .taglib-calendar tr td.calendar-current-day a:hover, .orange .portlet-calendar .taglib-calendar tr td.calendar-current-day a:focus {
  background-color: #F2FFDF;
  border-color: #B7BCAE;
  color: #5BCC00; }

.orange .taglib-calendar .calendar-current-day, .orange .taglib-calendar .calendar-current-day a {
  background-color: #FFF; }

.orange .taglib-calendar tr td.calendar-inactive {
  color: #BEC4B5; }

/* ---------- Miscellaneous portlet styles ---------- */
.orange .journal-template-error .scroll-pane pre span {
  background-color: #BEC4B5; }

.orange .restricted * {
  color: #968A83; }

.orange .lfr-actions .lfr-trigger li a:hover {
  background-color: #968A83; }

.orange .lfr-tag-selector-popup .aui-textfield-content {
  background-color: #DED8D4;
  border-color: #BDB4AF; }

/* This CSS sets the default styles for forms. */
.orange input[type="submit"], .orange input[type="button"], .orange input[type="reset"], .orange button, .orange .lfr-actions, .orange .lfr-actions ul {
  color: #4F4534; }

.orange input[type="submit"]:hover, .orange input[type="button"]:hover, .orange input[type="reset"]:hover, .orange button:hover, .orange .lfr-actions:hover, .orange .lfr-actions:hover ul {
  background-color: #DAC8BA;
  background-image: url(@theme_image_path@/color_schemes/orange/application/state_hover_bg.png);
  border-color: #837062;
  color: #9A6F33; }

.orange input[type="submit"]:focus, .orange input[type="button"]:focus, .orange input[type="reset"]:focus, .orange button:focus, .orange .lfr-actions:focus, .orange .lfr-actions:focus ul {
  background-color: #ECECEC;
  background-image: url(@theme_image_path@/application/state_active_bg.png); }

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */
.ie6 .orange input.submit, .ie6 .orange input.button, .ie6 .orange button, .ie6 .orange .aui-button-disabled input.submit, .ie6 .orange .aui-button-disabled input.button, .ie6 .orange .aui-button-disabled button {
  color: #4F4534; }

/* ---------- Site breadcrumbs ---------- */
.orange .site-breadcrumbs li.first a {
  color: #9A6F33; }

.orange .site-breadcrumbs li.last a {
  color: #67604B; }

.orange .lfr-hudcrumbs .breadcrumbs li a, .orange .lfr-hudcrumbs .breadcrumbs li span {
  color: #FFF; }

.inicial #wrapper {
  background: url("../images/inicial/fundo_topo2.png") no-repeat scroll 50% 0 transparent;
  margin: 0px auto 0;
  max-width: 100%;
  min-width: 960px;
  position: relative; }

.inicial header#banner {
  background: url(../images/pontual/sombra_banner.png) no-repeat 50% 423px;
  height: 486px; }

.inicial .home_banner .aui-carousel-menu-pause, .inicial .home_banner .aui-carousel-menu-prev, .inicial .home_banner .aui-carousel-menu-next {
  display: none; }
.inicial .home_banner .aui-carousel menu {
  background: transparent; }

.inicial h1.site-title {
  margin: 0px; }

.inicial .banner-rotativo {
  margin-top: -38px;
  height: 300px;
  margin-bottom: 75px;
  z-index: -10px;
  position: relative; }

.safari .inicial .banner-rotativo {
  margin-top: -37px; }

/* ---------- Base styles ---------- */
body {
  background: #e9edf0;
  font-size: 11px; }

a {
  color: #24245b;
  text-decoration: underline; }

a:visited {
  color: #d32e3c; }

a:hover {
  color: #06C;
  text-decoration: none; }

hr, .separator {
  border-color: #BFBFBF transparent #FFF;
  border-style: solid;
  border-width: 1px 0; }

button, input[type="submit"], input[type="button"] {
  background: linear-gradient(#eff3f4, #ffffff);
  border: 1px solid #DDE1E1;
  border-radius: 2px 2px 2px 2px;
  color: #D1202E;
  font-size: 11px;
  text-transform: uppercase; }

#wrapper {
  background: url("../images/pontual/fundo_topo.png") no-repeat scroll center top transparent;
  margin: 0px auto 0;
  max-width: 100%;
  min-width: 960px;
  position: relative;
  font-family: arial;
  color: #595965;
  font-size: 12px; }

.ie6 #wrapper {
  width: 90%; }

#banner {
  background: none;
  height: 190px;
  margin-top: 1.4em;
  position: relative;
  width: 960px;
  margin: 0 auto; }

h1.site-title {
  margin: 0px; }

.site-title .site-name {
  background: #555555 url(../images/common/site_icon.png) no-repeat 15px 50%;
  color: #FFF;
  display: block;
  float: right;
  font-size: 1em;
  font-weight: bold;
  margin: 0px 0 0 20px;
  padding: 7px 17px 7px 40px;
  position: relative;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 255; }

.page-template .site-title .site-name {
  background-image: url(../images/common/page_template.png); }

.site-template .site-title .site-name {
  background-image: url(../images/common/site_template.png); }

.company-site .site-title .site-name {
  background-image: url(../images/common/folder.png); }

.organization-site .site-title .site-name {
  background-image: url(../images/common/organization_icon_white.png); }

.user-site .site-title .site-name {
  background-image: url(../images/common/user_icon_white.png); }

.private-page .site-title .site-name:after {
  background-image: url(../images/common/key_small.png);
  content: '';
  display: block;
  height: 10px;
  left: 24px;
  position: absolute;
  top: 50%;
  width: 10px; }

#skip-to-content:focus {
  clip: rect(auto auto auto auto);
  right: 0;
  z-index: 200; }

#sign-in {
  background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
  font-weight: bold;
  padding: 5px 5px 5px 25px;
  position: absolute;
  right: 0;
  top: -1.2em; }

.ie6 #banner {
  height: 1%; }

.ie6 #banner h1.logo {
  height: 1%; }

.logo {
  z-index: 255;
  position: relative;
  margin-left: -20px; }
  .logo img {
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); }

/* ---------- Main navigation ---------- */
#navigation {
  background: none;
  clear: both;
  margin: 0 auto 5px;
  min-height: 2.2em;
  position: relative;
  z-index: inicial;
  float: right;
  margin-top: -44px;
  padding: 0px 0px 0px 3px;
  position: absolute;
  width: 723px;
  top: 110px;
  right: 0; }

.firefox #navigation {
  width: 695px; }

#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  text-align: right; }

.ie7 #navigation ul {
  padding: 2px; }

#navigation li, #navigation a {
  display: inline-block;
  display: inline-block;
  float: left; }

.ie6 #navigation li, .ie7 #navigation li, .ie6 #navigation a, .ie7 #navigation a {
  display: inline;
  zoom: 1;
  z-index: 200; }

#navigation li {
  position: relative;
  vertical-align: top;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  margin-left: 3px; }

#navigation a {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #D1202E;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: -0.4px;
  padding: 12px 6px;
  text-decoration: none;
  text-transform: uppercase;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px; }

.ie6 #navigation a, .ie7 #navigation a {
  padding: 4px 15px; }

#navigation .yui3-dd-drop a {
  cursor: move; }

#navigation .selected a, #navigation li.hover a, #navigation a:hover, #navigation a:focus, #navigation .child-menu li a, #navigation .yui3-dd-dragging, .lfr-navigation-proxy {
  background: #fff;
  color: #D1202E;
  outline: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  text-decoration: underline; }

#navigation li.hover .child-menu {
  background: #fff;
  display: block;
  position: absolute;
  width: 200px;
  z-index: 250;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px; }

.ie6 #navigation ul.child-menu-visible, .ie6 #navigation li.hover .child-menu, .ie7 #navigation ul.child-menu-visible, .ie7 #navigation li.hover ul.child-menu {
  left: 0;
  top: 25px; }

#navigation .child-menu {
  display: none; }

#navigation .child-menu li {
  border-width: 0 0 1px;
  display: block;
  float: none;
  margin: 0; }

#navigation .child-menu li a {
  cursor: pointer !important; }

.ie7 #navigation .child-menu li a {
  zoom: 1; }

#navigation .child-menu li a:hover, #navigation li a.active {
  background-color: #020509; }

#navigation .child-menu .selected a {
  background: #020509 url(@theme_image_path@/navigation/bullet_selected.png) no-repeat 5px 50%; }

.nav-menu-style-arrows ul {
  list-style-image: url(@theme_image_path@/navigation/bullet_selected.png); }

/* ---------- Portlet wrapper and icons ---------- */
.portlet {
  background-color: #fff;
  border: none;
  margin: 0 0 10px;
  padding: 3px;
  text-align: left; }

.portlet-topper {
  background: transparent;
  border: none;
  font-size: 1.1em; }

.portlet-title {
  float: none;
  font-weight: bold;
  min-width: 50%;
  padding: 0px 0 18px 0;
  text-shadow: none;
  font-size: 26px;
  color: #181f5c;
  background: url(../images/pontual/marcador.png) repeat-x 1% 100%; }

.portlet-title img.icon {
  display: none; }

.signed-in.controls-visible .portlet-title {
  padding-right: 80px; }

.lfr-portlet-title-editable {
  margin-top: -4px;
  z-index: 9999; }

.ie .lfr-portlet-title-editable {
  margin-top: -6px; }

.lfr-portlet-title-editable-content {
  padding: 0; }

.ie .lfr-portlet-title-editable-content {
  margin-top: 4px; }

.portlet-icons {
  float: none; }

.portlet-icons .portlet-close-icon {
  border-width: 0; }

.page-maximized .portlet-icons {
  font-size: 11px; }

.ie .portlet-title {
  padding-bottom: 5px; }

.ie6 .portlet-topper {
  zoom: 1; }

/* ---------- Footer ---------- */
#footer {
  background: url(../images/pontual/footer.png) no-repeat 50% 100%;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  height: 200px; }

#footer h2 {
  color: #7cc3ff;
  margin-bottom: 2px;
  background: url(../images/pontual/marcador.png) no-repeat 0 100%; }

#footer .contato {
  margin: 0 auto;
  text-align: left;
  width: 658px;
  padding: 22px 0 0 350px;
  color: white;
  position: relative; }

#footer .contato .contato_form {
  position: absolute;
  left: 654px;
  top: 0; }
  #footer .contato .contato_form .aui-fieldset {
    margin: 36px 0 0 0; }
    #footer .contato .contato_form .aui-fieldset .label-inline-label {
      font-weight: normal; }
  #footer .contato .contato_form .aui-fieldset-legend {
    display: none; }
  #footer .contato .contato_form .aui-field-text {
    float: left;
    margin-left: 17px; }
  #footer .contato .contato_form .aui-field-input-text {
    width: 142px; }
  #footer .contato .contato_form .aui-field .aui-field-content {
    margin: 4px 0 0; }
    #footer .contato .contato_form .aui-field .aui-field-content textarea {
      width: 307px;
      height: 25px; }
  #footer .contato .contato_form .aui-button-submit {
    position: absolute;
    bottom: -29px;
    left: 16px; }
    #footer .contato .contato_form .aui-button-submit input {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2265b9), color-stop(100%, #41add9));
      background-image: -webkit-linear-gradient(#2265b9, #41add9);
      background-image: -moz-linear-gradient(#2265b9, #41add9);
      background-image: -o-linear-gradient(#2265b9, #41add9);
      background-image: -ms-linear-gradient(#2265b9, #41add9);
      background-image: linear-gradient(#2265b9, #41add9);
      -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55);
      -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55);
      -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55);
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55);
      text-shadow: rgba(0, 0, 255, 0) 0px 0px 0, rgba(0, 0, 255, 0) 0px 0px 0, rgba(0, 0, 255, 0) 0px 0px 0;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      -khtml-border-radius: 4px;
      border-radius: 4px;
      border: 0;
      color: white;
      padding: 6px 20px; }

/* ---------- Formulario Seja Cliente ---------- */
.seja-cliente .aui-fieldset {
  margin: 36px 0 0 0; }
  .seja-cliente .aui-fieldset .label-inline-label {
    font-weight: normal; }
.seja-cliente .aui-fieldset-legend {
  display: none; }
.seja-cliente .aui-field-text {
  float: left;
  margin-left: 17px; }
.seja-cliente .aui-field .aui-field-content {
  margin: 4px 0 0; }
  .seja-cliente .aui-field .aui-field-content textarea {
    width: 275px;
    height: 25px; }
.seja-cliente .aui-button-submit {
  position: absolute;
  bottom: -29px;
  left: 16px; }
  .seja-cliente .aui-button-submit input {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2265b9), color-stop(100%, #41add9));
    background-image: -webkit-linear-gradient(#2265b9, #41add9);
    background-image: -moz-linear-gradient(#2265b9, #41add9);
    background-image: -o-linear-gradient(#2265b9, #41add9);
    background-image: -ms-linear-gradient(#2265b9, #41add9);
    background-image: linear-gradient(#2265b9, #41add9);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55);
    -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55);
    text-shadow: rgba(0, 0, 255, 0) 0px 0px 0, rgba(0, 0, 255, 0) 0px 0px 0, rgba(0, 0, 255, 0) 0px 0px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    color: white;
    padding: 6px 20px; }

/* ---------- Site breadcrumbs ---------- */
.site-breadcrumbs {
  margin: 0 auto;
  width: 960px;
  display: none; }

.site-breadcrumbs ul {
  background-color: #FFF;
  border: 1px solid #DEDEDE;
  border-color: #C0C2C5;
  margin: 0; }

.site-breadcrumbs li {
  background-image: none;
  margin-right: 0;
  padding-left: 0.75em;
  padding-right: 0; }

.site-breadcrumbs li span {
  background: url(@theme_image_path@/common/breadcrumbs.png) no-repeat 100% 50%;
  display: block;
  padding: 0.5em 15px 0.5em 0; }

.site-breadcrumbs li span a {
  text-decoration: none; }

.site-breadcrumbs li.first a {
  color: #369;
  font-weight: bold; }

.site-breadcrumbs li.last a {
  color: #4B5567;
  font-size: 1.3em; }

.site-breadcrumbs .last {
  font-size: 1em;
  margin-top: 0;
  padding-right: 0; }

.site-breadcrumbs .last span {
  background-image: none;
  padding: 0; }

/* ---------- Hudcrumbs ---------- */
.lfr-hudcrumbs {
  position: fixed;
  top: 0;
  z-index: 440; }

.lfr-hudcrumbs ul {
  background: #414445;
  background: rgba(0, 0, 0, 0.8); }

.lfr-hudcrumbs .breadcrumbs li a, .lfr-hudcrumbs .breadcrumbs li span {
  color: #FFF; }

.lfr-hudcrumbs li span {
  background-image: url(@theme_image_path@/common/breadcrumbs_hud.png); }

/* ---------- Misc. ---------- */
.lfr-panel-container {
  background-color: transparent; }

.aui-combobox .aui-field-input {
  padding: 4px 3px 3px;
  font-size: 11px;
  height: 15px; }

.aui-combobox .aui-field {
  float: left;
  line-height: 0; }

.lfr-portlet-title-editable-content .aui-field {
  float: none;
  display: inline; }

/* ---------- Extras ---------- */
#banner .site-name {
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white;
  -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white; }

.portlet-borderless-bar {
  -moz-border-radius: 20px;
  -moz-box-shadow: inset 0 1px 3px #000;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 3px #000;
  border-radius: 20px;
  box-shadow: inset 0 1px 3px #000; }

.portlet-topper {
  box-shadow: none; }

#banner .site-name {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white;
  -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white; }

#navigation li.selected a {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0); }

.aui-combobox .aui-toolbar-first {
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

#content {
  width: 960px;
  margin: 0 auto 30px; }

/* ---------- Funcionalidades ---------- */
#funcionalidades {
  color: #fff;
  text-align: right;
  float: right;
  width: 560px;
  padding-top: 10px;
  font-size: 12px; }

#funcionalidades a {
  color: #7cc3ff;
  margin-left: 16px;
  padding-left: 6px;
  background: url(../images/pontual/seta-menu_ut.png) no-repeat 0; }

#funcionalidades a.destacado {
  background: url(../images/pontual/fundo_menu_sup.png) repeat-x #bc0d1f;
  color: white;
  margin: 0 1px;
  padding: 10px; }

#funcionalidades a.destacado1 {
  margin: 0 1px 0 15px;
  background: url(../images/pontual/fundo_menu_sup.png) repeat-x #bc0d1f;
  color: white;
  padding: 10px; }

/* ---------- Pontinha ---------- */
.pontinha {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 5px;
  bottom: -10px;
  display: block;
  height: 0;
  position: absolute;
  right: 50%;
  width: 0; }

/* ---------- Destacado Menu Superior ---------- */
.destacado {
  background: url(../images/pontual/fundo_menu_sup.png) repeat-x #bc0d1f;
  color: #fff;
  margin: 0 1px;
  padding: 10px; }

a.destacado {
  color: #fff !important; }

/* ---------- Banner Rotativo ---------- */
/* ---------- Tirando ÔøΩcone dos Asset Publishers ---------- */
.asset-title img {
  display: none; }

/* ---------- Redimensionando imagens no Asset Publisher ---------- */
.portlet-asset-publisher .asset-small-image {
  float: none;
  padding-left: 0;
  width: 279px; }

.portlet-asset-publisher .asset-content {
  margin-left: 0px;
  margin-right: 0px; }

/* ---------- EspaÔøΩamento do tÔøΩtulo no Asset Publisher ---------- */
.portlet-content, .portlet-minimized .portlet-content-container {
  padding: 0 px 10px; }

.portlet-asset-publisher .asset-title {
  margin-top: 10px;
  font-size: 12px; }

.portlet-content, .portlet-minimized .portlet-content-container {
  padding: 0 10px 10px; }

/* ---------- Menu Rastreamento e CotaÔøΩÔøΩo ---------- */
#menu-rastreamento {
  text-align: center;
  background: #585858;
  height: 28px;
  width: 102px;
  padding: 11px 0 0 0;
  color: white;
  position: relative;
  font-size: 11px;
  cursor: pointer; }
  #menu-rastreamento:hover {
    background: #737373;
    height: 31px; }
  #menu-rastreamento .quadro {
    text-align: left;
    position: absolute;
    background: #737373;
    top: 41px;
    z-index: 249;
    width: 209px;
    padding: 10px; }
    #menu-rastreamento .quadro p {
      margin: 0 0 3px 0;
      color: #eee; }
    #menu-rastreamento .quadro textarea {
      width: 204px;
      max-width: 204px;
      font-size: 13px;
      margin-bottom: 7px;
      font-family: "Courier New";
      font-weight: bold;
      max-height: 27px; }
    #menu-rastreamento .quadro a.link-in {
      background: transparent url(../images/pontual/seta-link.png) no-repeat 0;
      font-size: 11px;
      font-weight: normal;
      letter-spacing: -0.4px;
      margin: 0 12px 0 0;
      padding: 0px 0px 0px 5px;
      color: white;
      text-decoration: underline;
      text-transform: none; }
      #menu-rastreamento .quadro a.link-in:hover {
        background: transparent url(../images/pontual/seta-link.png) no-repeat 0;
        font-size: 11px;
        font-weight: normal;
        letter-spacing: -0.4px;
        margin: 0 12px 0 0;
        color: white;
        text-decoration: underline;
        text-transform: none; }
    #menu-rastreamento .quadro input[type="submit"] {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99040b), color-stop(100%, #c71530));
      background-image: -webkit-linear-gradient(#99040b, #c71530);
      background-image: -moz-linear-gradient(#99040b, #c71530);
      background-image: -o-linear-gradient(#99040b, #c71530);
      background-image: -ms-linear-gradient(#99040b, #c71530);
      background-image: linear-gradient(#99040b, #c71530);
      -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px #ff1e38;
      -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px #ff1e38;
      -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px #ff1e38;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px #ff1e38;
      text-shadow: rgba(0, 0, 255, 0) 0px 0px 0, rgba(0, 0, 255, 0) 0px 0px 0, rgba(0, 0, 255, 0) 0px 0px 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      -khtml-border-radius: 0;
      border-radius: 0;
      color: white;
      width: 208px;
      border: 0;
      text-transform: uppercase;
      padding: 11px;
      font-size: 13px;
      font-weight: normal;
      margin-top: 8px; }

#menu-cotacao {
  text-align: center;
  background: #585858;
  height: 28px;
  padding: 11px 6px 0;
  color: white;
  position: relative;
  font-size: 11px;
  cursor: pointer; }
  #menu-cotacao:hover {
    background: #737373;
    height: 31px; }
  #menu-cotacao .quadro {
    text-align: left;
    position: absolute;
    background: #737373;
    top: 41px;
    z-index: 249;
    width: 209px;
    padding: 10px;
    right: 0px; }
    #menu-cotacao .quadro a.link-in {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99040b), color-stop(100%, #c71530));
      background-image: -webkit-linear-gradient(#99040b, #c71530);
      background-image: -moz-linear-gradient(#99040b, #c71530);
      background-image: -o-linear-gradient(#99040b, #c71530);
      background-image: -ms-linear-gradient(#99040b, #c71530);
      background-image: linear-gradient(#99040b, #c71530);
      -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px #ff1e38;
      -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px #ff1e38;
      -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px #ff1e38;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px #ff1e38;
      text-shadow: rgba(0, 0, 255, 0) 0px 0px 0, rgba(0, 0, 255, 0) 0px 0px 0, rgba(0, 0, 255, 0) 0px 0px 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      -khtml-border-radius: 0;
      border-radius: 0;
      color: white;
      width: 186px;
      border: 0;
      text-transform: uppercase;
      padding: 11px;
      font-size: 13px;
      font-weight: normal;
      margin-top: 8px;
      text-align: center; }

/* ---------- Seletores Basicos ---------- */
h1, h2 {
  color: #181F5C; }

h3, h4, h5, h6 {
  color: #595965; }

h2 {
  color: #181F5C;
  font-size: 2.4em;
  font-weight: normal !important;
  background: url(../images/pontual/marcador.png) no-repeat 1% 100%;
  margin: 5px 0 15px; }

h1 {
  color: #181F5C;
  font-size: 2.5em; }

/* ---------- Estilo da Box em Produtos e Servicos ---------- */
.quadro_produto ul.abas {
  list-style: none;
  margin: 0;
  padding: 0; }

.quadro_produto ul.abas li {
  float: left;
  border-bottom: 0;
  margin-right: 3px;
  padding: 8px 15px;
  background: #D5DADD;
  margin-bottom: 0px;
  font-size: 16px; }

.quadro_produto ul.abas li:hover {
  background: white; }

.quadro_produto ul.abas .ativo {
  background: white; }

.quadro_produto ul.abas .ativo a {
  color: #f00; }

.quadro_produto ul.abas a {
  text-decoration: none;
  font-weight: bold; }

.quadro_produto #mostra_produto {
  position: relative;
  height: auto;
  padding: 10px 10x 0;
  clear: both;
  background: white; }
  .quadro_produto #mostra_produto h2 {
    margin: 0px 0 21px;
    font-size: 16px;
    font-weight: bold;
    background: transparent; }
  .quadro_produto #mostra_produto td div {
    margin-bottom: 20px; }
  .quadro_produto #mostra_produto a.btn {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eff3f4), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(#eff3f4, #ffffff);
    background-image: -moz-linear-gradient(#eff3f4, #ffffff);
    background-image: -o-linear-gradient(#eff3f4, #ffffff);
    background-image: -ms-linear-gradient(#eff3f4, #ffffff);
    background-image: linear-gradient(#eff3f4, #ffffff);
    border: 1px solid #DDE1E1;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    color: #D1202E;
    font-size: 11px;
    text-transform: uppercase;
    backgrownd: #f00;
    padding: 10px;
    text-decoration: none;
    position: absolute;
    bottom: 10px; }

.quadro_produto #mostra_produto div {
  display: none; }

.quadro_produto #mostra_produto .quadro_azul {
  display: block;
  width: 260px;
  background: #f4f5f7;
  padding: 10px; }

.azul {
  color: #7cc3ff; }
  .azul.marca_subl {
    padding-left: 6px;
    background: url(../images/pontual/seta-menu_ut.png) no-repeat 0;
    text-decoration: underline; }

.portlet {
  background: transparent; }

/*.portlet-body ul li{
	list-style-image: url("../images/pontual/marcador.png");
	margin-bottom: 15px;
}*/
.quadro_produto ul li {
  list-style-image: none; }

.portlet-branco {
  background: #fbfbfd;
  padding: 10px 25px;
  margin: 0px 11px 11px 0; }
  .portlet-branco h3 {
    margin: 8px 0; }
  .portlet-branco li {
    margin: 18px 0; }

#mostra_produto ul li {
  list-style-image: url("../images/pontual/marcador.png"); }

/* ---------- Asset Noticias ---------- */
.portlet_noticias .portlet-title {
  background: url(../images/pontual/marcador.png) no-repeat 6px 100%;
  padding: 5px 5px 1px; }
.portlet_noticias .asset-more {
  margin-top: 10px; }
  .portlet_noticias .asset-more a {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eff3f4), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(#eff3f4, #ffffff);
    background-image: -moz-linear-gradient(#eff3f4, #ffffff);
    background-image: -o-linear-gradient(#eff3f4, #ffffff);
    background-image: -ms-linear-gradient(#eff3f4, #ffffff);
    background-image: linear-gradient(#eff3f4, #ffffff);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dde1e1;
    color: #D1202E;
    margin-top: 13px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px; }
.portlet_noticias .asset-title a {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 289px;
  white-space: nowrap;
  display: block; }

.portlet_noticias .final-separator {
  display: none; }

.noticias-destaque .portlet-body {
  overflow: hidden; }
  .noticias-destaque .portlet-body .portlet-title {
    padding: 0 0 19px;
    margin-bottom: 5px; }

.noticias-destaque .asset-abstract {
  width: 300px;
  float: left;
  margin-right: 10px; }

.noticias-destaque .asset-small-image img {
  border: 3pt solid #fff; }

.noticias-destaque .asset-more {
  margin-top: 10px; }
  .noticias-destaque .asset-more a {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eff3f4), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(#eff3f4, #ffffff);
    background-image: -moz-linear-gradient(#eff3f4, #ffffff);
    background-image: -o-linear-gradient(#eff3f4, #ffffff);
    background-image: -ms-linear-gradient(#eff3f4, #ffffff);
    background-image: linear-gradient(#eff3f4, #ffffff);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dde1e1;
    color: #D1202E;
    margin-top: 13px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px; }

.noticias-destaque .asset-title {
  border-bottom: none;
  text-decoration: underline; }
  .noticias-destaque .asset-title a {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 289px;
    white-space: nowrap;
    display: block; }

.lista-noticias .asset-small-image, .lista-noticias .asset-resource-info {
  display: none; }

.lista-noticias .portlet-title {
  padding: 0 0 19px;
  margin-bottom: 5px; }

.lista-noticias .asset-metadata {
  margin-left: 0px; }

.lista-noticias .asset-abstract {
  border-bottom: 1pt solid #dadfe4;
  padding: 8px 0; }

.lista-noticias .asset-more {
  display: none; }

.taglib-page-iterator .search-results {
  float: right; }

.taglib-page-iterator .search-pages {
  float: left; }

.portlet-asset-publisher .asset-title {
  border-bottom: none; }

.lista-noticias .metadata-publish-date {
  background: none;
  padding-left: 0px; }

.lista-noticias .asset-title {
  font-size: 16px; }

.link-pg-inicio p {
  text-align: right;
  margin: -31px 8px 0 0; }
  .link-pg-inicio p a {
    text-decoration: none; }
    .link-pg-inicio p a:hover {
      text-decoration: underline; }

/* ---------- BotÔøΩo azul dos formularios ---------- */
.botao {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2265b9), color-stop(100%, #41add9));
  background-image: -webkit-linear-gradient(#2265b9, #41add9);
  background-image: -moz-linear-gradient(#2265b9, #41add9);
  background-image: -o-linear-gradient(#2265b9, #41add9);
  background-image: -ms-linear-gradient(#2265b9, #41add9);
  background-image: linear-gradient(#2265b9, #41add9);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55);
  -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 1px 1px 1px 0px rgba(73, 217, 255, 0.55);
  text-shadow: rgba(0, 0, 255, 0) 0px 0px 0, rgba(0, 0, 255, 0) 0px 0px 0, rgba(0, 0, 255, 0) 0px 0px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  color: white;
  padding: 6px 20px; }

/* ---------- Fatos Marcantes ---------- */
.quadro-vermelho {
  background: #c6142d;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  height: auto;
  padding: 10px;
  width: 40px;
  margin-left: -30px;
  margin-top: 5px; }

.quadro-cinza {
  background: #fbfbfd;
  margin-bottom: 10px;
  padding: 5px 10px; }

.quadro-cinza p {
  display: inline-block;
  margin-left: 51px;
  margin-top: -35px; }

/* ---------- Box Filiais ---------- */
.box_filiais .seletor_filiais {
  height: 21px; }
  .box_filiais .seletor_filiais select {
    float: left;
    width: 310px; }
  .box_filiais .seletor_filiais #escolha {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #41afda), color-stop(100%, #2265b9));
    background-image: -webkit-linear-gradient(#41afda, #2265b9);
    background-image: -moz-linear-gradient(#41afda, #2265b9);
    background-image: -o-linear-gradient(#41afda, #2265b9);
    background-image: -ms-linear-gradient(#41afda, #2265b9);
    background-image: linear-gradient(#41afda, #2265b9);
    -moz-box-shadow: 1px 1px 3px #283274, inset 1px 1px 1px 0px #4face0;
    -webkit-box-shadow: 1px 1px 3px #283274, inset 1px 1px 1px 0px #4face0;
    -o-box-shadow: 1px 1px 3px #283274, inset 1px 1px 1px 0px #4face0;
    box-shadow: 1px 1px 3px #283274, inset 1px 1px 1px 0px #4face0;
    display: block;
    padding: 4px;
    width: 89px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    float: left;
    margin: -1px 0 0 10px;
    position: absolute;
    right: 16px; }
    .box_filiais .seletor_filiais #escolha:hover {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3293b9), color-stop(100%, #1c5092));
      background-image: -webkit-linear-gradient(#3293b9, #1c5092);
      background-image: -moz-linear-gradient(#3293b9, #1c5092);
      background-image: -o-linear-gradient(#3293b9, #1c5092);
      background-image: -ms-linear-gradient(#3293b9, #1c5092);
      background-image: linear-gradient(#3293b9, #1c5092); }
.box_filiais .seletor_filiais, .box_filiais #mostra_filial {
  background: white;
  margin-bottom: 15px;
  padding: 15px; }

/* ---------- Form Seja Cliente ---------- */
.campo1 {
  width: 250px; }

.campo2 {
  width: 100px; }

.campo3 {
  width: 200px; }

.campo4 {
  width: 130px; }

.campo5 {
  width: 20px; }

.campo6 {
  width: 250px; }

.campo7 {
  width: 200px; }

#apDiv1 {
  width: 250px;
  height: 88px;
  float: left; }

#apDiv2 {
  width: 100px;
  height: 88px;
  float: right; }

#apDiv3 {
  width: 200px;
  height: 88px;
  float: left; }

#apDiv4 {
  width: 140px;
  height: 88px;
  float: left; }

#apDiv5 {
  width: 30px;
  height: 88px;
  float: right; }

#apDiv6 {
  width: 200px;
  height: 88px;
  float: left; }

#apDiv7 {
  width: 200px;
  height: 88px;
  float: right; }

/* ---------- Tabela Parceiros ---------- */
.pt-parceiros img {
  margin: 0.7em 0em; }

.td-borda {
  border-right: 1pt solid #c9c9c9;
  padding-right: 3em; }

.td-margem {
  padding-left: 3em; }

/* --------- elementos de tela --------- */
.botao_azul {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #41afda), color-stop(100%, #2265b9));
  background-image: -webkit-linear-gradient(#41afda, #2265b9);
  background-image: -moz-linear-gradient(#41afda, #2265b9);
  background-image: -o-linear-gradient(#41afda, #2265b9);
  background-image: -ms-linear-gradient(#41afda, #2265b9);
  background-image: linear-gradient(#41afda, #2265b9);
  -moz-box-shadow: 1px 1px 3px #283274, inset 1px 1px 1px 0px #4face0;
  -webkit-box-shadow: 1px 1px 3px #283274, inset 1px 1px 1px 0px #4face0;
  -o-box-shadow: 1px 1px 3px #283274, inset 1px 1px 1px 0px #4face0;
  box-shadow: 1px 1px 3px #283274, inset 1px 1px 1px 0px #4face0;
  display: block;
  padding: 4px;
  width: 89px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  float: left;
  margin: -1px 0 0 10px; }
  .botao_azul:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3293b9), color-stop(100%, #1c5092));
    background-image: -webkit-linear-gradient(#3293b9, #1c5092);
    background-image: -moz-linear-gradient(#3293b9, #1c5092);
    background-image: -o-linear-gradient(#3293b9, #1c5092);
    background-image: -ms-linear-gradient(#3293b9, #1c5092);
    background-image: linear-gradient(#3293b9, #1c5092); }

.marcador li {
  list-style-image: url("../images/pontual/marcador.png"); }

.col-image {
  display: table-cell; }
  .col-image img {
    border: 5px solid white; }

.col-texto {
  display: table-cell;
  vertical-align: top;
  padding-left: 14px; }
  .col-texto h1 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 14px; }

/* Tabela */
.tabela {
  margin: 13px 0; }
  .tabela th {
    font-weight: bold;
    background: #2c2f83;
    color: white;
    padding: 5px 6px;
    margin: -2px;
    border-right: 1px solid #e9edf0; }
  .tabela td {
    background: white;
    border-right: 1px solid #e9edf0;
    padding: 5px 6px; }

