<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	
	$theme.include($top_head_include)
	<script type="text/javascript" src="$javascript_folder/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="$javascript_folder/produto.js"></script>
	
</head>

<body class="$css_class">

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div id="wrapper">
	<a href="#main-content" id="skip-to-content">#language("skip-to-content")</a>

	<header id="banner" role="banner">

	
		<div id="heading">
		
			<div id="funcionalidades"> 
				<a href="/home"> Principal </a> 
				<a href="/matriz"> Matriz, Filiais e Agentes </a> 
				<a href="/trabalhe-conosco"> Trabalhe Conosco </a> 
				<a class="destacado1" href="/seja-cliente"> Seja Cliente </a> 
				<a class="destacado" href="/iniciar-sessao"> Iniciar Sess&atilde;o </a> 
			</div>
		
			<h1 class="site-title">
				<a class="$logo_css_class" href="$site_default_url" title="#language("go-to") $site_name">
					<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
				</a>

				#if ($show_site_name)
					<span class="site-name" title="#language("go-to") $site_name">
						$site_name
					</span>
				#end
			</h1>

			<h2 class="page-title">
				<span>$the_title</span>
			</h2>
			
		</div>
		
	

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
		
		#if ($the_title == "Welcome")
			<div class="banner-rotativo">
				
				$velocityPortletPreferences.setValue("portlet-setup-show-borders", "false")
				$theme.runtime("56_INSTANCE_abcd", "", $velocityPortletPreferences.toString())
				$velocityPortletPreferences.reset()
				
			</div>
		#end
	</header>

	<div id="content">
		<nav class="site-breadcrumbs" id="breadcrumbs">
			<h1>
				<span>#language("breadcrumbs")</span>
			</h1>

			#breadcrumbs()
		</nav>

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer" role="contentinfo">
	
	<div class="contato">
		
		<h2>
			Entre em contato
		</h2>
		
		<p> Aeroporto Internacional de Bras&iacute;lia - TECA <br/>
		Hangar Pontual - Bras&iacute;lia/DF - CEP: 71608-900 </P
 
		<p> <span class="azul"> MATRIZ: </span>
		Tel.: (61) 2192-1200   /   Fax: (61) 3365-1778 </p>

		<p><span class="azul"> Filiais e Agentes <br/>
		sac@pontualcargas.com.br </span></p>
		
			<div class="contato_form">

				#set ($VOID = $velocityPortletPreferences.setValue('portlet-setup-show-borders', 'false'))
				#set ($myPortletId = "1_WAR_webformportlet_INSTANCE_bDzh0sKSxFhx")$theme.runtime($myPortletId, '', $velocityPortletPreferences.toString())
				#set ($VOID = $velocityPortletPreferences.reset())
			</div>
		
		</div>
		
	</footer>
</div>

$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)

</html>